.fondo{
    background-color: var(--grey);
}

.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-nav{
    position: fixed; /* Fija la posición del elemento */
    top: 0px; /* Lo sitúa en la parte superior de la ventana */
    left: 0; /* Lo sitúa en la parte izquierda de la ventana */
    width: 100%; /* Ocupa todo el ancho de la ventana */
    z-index: 1000; /* Ajusta la profundidad para asegurarse de que esté por encima de otros elementos */
    backdrop-filter: blur(10px);
}
#user{
    background-color: aqua;
}
.img-user{
    height: 1.8rem;
    width: 20%;
}


