.img-product-components{
    width: 100%;
    height: 28rem;
}

.image-container {
    position: relative;
    overflow: hidden;
  }
  
  .icon-on-image {
    position: absolute;
    bottom: 10px; /* Ajusta la posición vertical del icono */
    left: 50%; /* Ajusta la posición horizontal del icono */
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8); /* Opcional: añade un fondo para mejorar la visibilidad del icono */
    padding: 5px;
    border-radius: 50%; /* Opcional: haz el icono redondo */
  }


  .verMas{
    background: linear-gradient(to bottom right, #000000, #8e8c8c);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 10rem;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.verMas:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(15, 15, 15, 0.5), .125rem .125rem 1rem rgba(15, 14, 14, 0.5);
}

.verMas:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(15, 15, 15, 0.5), .125rem .125rem 1rem rgba(0, 0, 0, 0.5);
}
