
.img-card-carro{
height: 20rem;
max-height: 10rem;
min-height: 18rem;
width: 100%;
image-rendering: pixelated;
}

.icon-close{
    position: relative;
    left: 18rem;
    top:-10px;
}

.fondo-offcanvas{
    background-image: url(../../../assets/cartOfCanvas/cart.png);
    background-size: cover;
    background-position: center;
    height: 14rem;
}