
.img-card-carro{
height: 10rem;
width: 100%;
}

.icon-close{
    position: absolute;
    right: -7px;
    top:-10px;
}

.fondo-offcanvas{
    background-image: url(../../../assets/cartOfCanvas/cart.png);
    background-size: cover;
    background-position: center;
    height: 14rem;
}