.horizontal-list {
    list-style: none; 
    display: flex;
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
}

.horizontal-list li {
    flex: 1; 
    padding: 5px; 
}
li{
    cursor:pointer;
    border-color: 1px var(--dark);
    background-color: var(--dark);
}

.search:focus{
    box-shadow: none;
    outline: none;
    border-color: var(--grey);
}