/* Estilos generales para pantallas grandes */
.fondo-login {
    background-image: url(../../../assets/form/Form.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 60rem;
    width: 100%;
}

.form-login {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(3px);
}

.inputs {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 0px;
    border-color: var(--white);
}


.inputs:focus {
    box-shadow: none;
    outline: none;
    border-color: var(--white);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 0px;
}

.img-payment{
    background-size: cover;
    background-position: center;
    width: 100%;
    height:24rem;
}

.card-payment{
    width: 50%;
    height: 10rem;
}



footer {
    padding: 2% 10% 6% 10%;
    margin: 0 auto;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  #horizontal_logo {
      width: 150px;
    margin: 0;
  }
  
  footer p a {
    color: #009ee3;
    text-decoration: none;
  }
  
  footer p a:hover {
    color: #3483FA;
    text-decoration: none;
  }
    
  @media (min-width: 576px) {
      .payment-form .title {
        font-size: 1.2em;
      }
    
      .payment-form .products {
        padding: 40px;
      }
    
      .payment-form .products .item-name {
        font-size: 1em;
      }
    
      .payment-form .products .price {
        font-size: 1em;
      }
    
      .payment-form .payment-details {
        padding: 20px 40px;
      }
    
      .payment-form .payment-details button {
        margin-top: 1em;
        margin-bottom: 15px;
    }
  
    .footer_logo {
      margin: 0 0 0 0;
      width: 20%;
      text-align: left;
      position: absolute;
    }
  
    .footer_text {
      margin: 0 0 0 65%;
      width: 200px;
      text-align: left;
      position: absolute
    }
  
   
  }
  
  @media (max-width: 576px) {
    footer {
      padding: 5% 1% 15% 1%;
      height: 55px;
    }
    .form-login {
        margin-top: 2rem;  
        width: 90%;      
    }
  
    footer p {
      padding: 1px;
      font-size: 11px;
      margin-bottom: 0;
    }
    .footer_text {
      margin: 0 0 0 45%;
      width: 180px;
      position: absolute
    }
  
    .footer_logo {
      margin: 0 0 0 0;
      position: absolute;
    }
  }

