.fondo-footer{
    background-image: url(../../../assets/footer/pexels-josh-hild-2422588.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: end center;
    width: 100%;

}
.fondo-footer2{
    height: max-content;
    backdrop-filter: blur(10px);

}
.tarjeta-footer{
    height: 4rem;
    width: 100%;
}